@import '/src/styles/base.scss';
@import '/src/styles/mixins.scss';

.dashboard {
  padding: 30px;
}

.dashboardItem {
  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 5px solid $color-light-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    pointer-events: none;

    h6 {
      font-weight: bold;
      font-size: 18px;
      color: $color-dark-teal;
      width: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    margin-right: 10px;
    text-transform: none;
    background-color: $color-white;
    color: $color-light-blue;
    border: 1px solid $color-light-blue;
    pointer-events: auto;
    &:hover {
      background-color: $color-light-blue;
      color: $color-white;
      border: 1px solid $color-light-blue;
    }
  }
}
